#female .inactive > td{
  background-color:mediumaquamarine;
}
#female .active > td{
  background-color:seagreen;
}
#male .inactive > td{
  background-color:peru;
}
#male .active > td{
  background-color:#a2662a;
}
th{
  background-color: steelblue;
  color:white;
}
